* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

.img-fluid {
    position: relative;
    margin-top: 900px;
}

.img {
    position: absolute;
    z-index: 2;
    margin-left: 360px;
    margin-top: 210px;
    height: 180px;

}

.header1 {
    position: absolute;
    margin-left: 12%;
    margin-top: 3.5%;
    font-size: 90px;
    letter-spacing: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: red;
    font: 700;
}

.header-A {
    color: black;
    font-weight: 500;
}

.header2 {
    position: absolute;
    z-index: 2;
    background-color:#177980;
    /* opacity: 0.7; */
    height: 65%;
    width: 27%;
    margin-left: 63%;
    border-radius: 0 0 700px 700px;

}

#header-B {
    text-align: center;
    font-size: 230px;
    margin-top: 20%;
    padding: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;

}

.middle1 {

    margin-top: 6%;
    margin-left: 15%;
    font-size: 60px;
    color: rgb(20, 113, 150);
}

#middle-A {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#middle-B {
    color: rgb(230, 91, 11);
    margin-left: -10%;
    margin-top: 7%;
    font-size: 300px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#middle-C {
    font-size: 90px;
    margin-top: -7%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: -1%;
}

#middle-D {
    margin-left: -1%;
    width: 50%;
    text-align: justify;
    color:black;
    letter-spacing: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.middle2 {
    margin-left: 60%;
    background-color:#177980;;
    
    margin-top: -51.5%;
    height: 1200px;
    width: 29%;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

#middle-E {
    font-size: 100px;
    text-align: center;
    padding: 90px;
    letter-spacing: 10px;
   
}

#middle-F {
    margin-top: 20px;
    font-size: 57px;
    text-align: center;
    padding: 20px;
    letter-spacing: 9px;
    text-align: justify;
    margin-left: 50px;
    

}

.middle3 {
    margin-left: 60%;
    background-color: rgb(247, 79, 12);
    height: 1200px;
    width: 29%;
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

#middle-G {
    font-size: 100px;
    text-align: center;
    padding: 50px;
}

#middle-H {
    font-size: 60px;
    text-align: center;
    padding: 20px;
    letter-spacing: 4px;
}

.middle4 {
    background-color: darkgray;
    height: 400px;
    width: 29%;
    margin-left: 60%;
}

#website {
    font-size: 70px;
    text-align: center;
    margin-left: 50%;
    z-index: 2;
    margin-top: -4%;
    color:rgb(79, 79, 212);
    letter-spacing: 2px;

}

.footer {
    margin-top: 290px;
    height: 30px;
    width: 100%;
    background-color: rgb(230, 91, 11);
}